PyYAML~=6.0.1
SQLAlchemy~=2.0.20
pydantic~=2.3.0
alembic~=1.12.0
uvicorn!=0.23.2
fastapi!=0.103.1
APScheduler~=3.10.4
click~=8.1.7
baidu-aip==4.16.12
orjson~=3.9.7
fspy~=0.3.2
chardet~=5.2.0
selectolax~=0.3.16
passlib~=1.7.4
PyJWT~=2.8.0
cryptography~=41.0.1
pycryptodome~=3.18.0
python-multipart~=0.0.6
bcrypt~=4.0.1
fastapi-events~=0.9.1
python-dotenv~=1.0.0