<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codeyang.pter.module.menu.mapper.SysMenuMapper">


	<select id="selectMenuTreeAll" resultType="cn.codeyang.pter.module.menu.entity.SysMenu">
		select * from sys_menu menu order by menu.sort
	</select>
	<select id="selectMenuPermsByUserId" resultType="java.lang.String">
		select distinct menu.permission
		from sys_menu menu
				 left join sys_role_menu role_menu on role_menu.menu_id = menu.id
				 left join sys_user_role user_role on user_role.role_id = role_menu.menu_id
				 left join sys_role role on role.id = user_role.role_id
		where menu.status = '0'
		  and role.status = '0'
		  and user_role.user_id = #{userId}
	</select>
	<select id="selectMenuTreeByUserId" resultType="cn.codeyang.pter.module.menu.entity.SysMenu">
		select distinct menu.id,
						menu.name,
						menu.path,
						menu.title,
						menu.icon,
						menu.badge,
						menu.target,
						menu.link,
						menu.component,
						menu.render_menu,
						ifnull(menu.permission, '') as permission,
						menu.parent_id,
						menu.cacheable,
						menu.sort,
						menu.version,
						menu.create_by,
						menu.create_time,
						menu.update_by,
						menu.update_time,
						menu.status
		from sys_menu menu
				 left join sys_role_menu role_menu on role_menu.menu_id = menu.id
				 left join sys_user_role user_role on user_role.role_id = role_menu.role_id
				 left join sys_role role on role.id = user_role.role_id
				 left join sys_user user on user.id = user_role.user_id
		where user.id = #{userId}
		  and menu.status = '0'
		  and role.status = '0'
		order by menu.sort
	</select>
	<select id="listMenusByRoleId" resultType="cn.codeyang.pter.module.menu.entity.SysMenu">
		select *
		from sys_menu menu
				 left join sys_role_menu role_menu on menu.id = role_menu.menu_id
		where role_menu.role_id = #{roleId}
		  and menu.status = '0'
		order by menu.sort
	</select>
</mapper>
